@using GMS.Web

<div class="navbar hui-navbar">
    <div class="nav-wrap">
        <ul class="nav-pills">
            <li><a href="/">网站首页</a></li>
            <li><a href="/">服装配饰</a></li>
            <li><a href="/">数码电器</a></li>
            <li><a href="/">食品保健</a></li>
            <li><a href="/">文化旅游</a></li>
            <li><a href="/">客户产品</a></li>
            <li><a href="/">产品案例</a></li>
            <li><a href="/">区域代理</a></li>
            <li><a href="/">联系我们</a></li>
        </ul>
    </div>
</div>