@using GMS.Web
<div class="footer">
    <div class="row foot-link">
        <div class="link-wrap">
            <ul class="nav-pills">
                <li><a href="#">关于我们</a></li>
                <li><a href="#">用户协议</a></li>
                <li><a href="#">投诉举报</a></li>
                <li><a href="#">申诉指南</a></li>
                <li><a href="#">广告合作</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="row addr-wrap">
        <div class="addr">
            <p>公司：北京我买惠公司</p>
            <p>地址：北京西城区广安门大街</p>
            <p>电话：010-123455678</p>
            <p>手机：1875946642</p>
            <p>Q  Q：9728843943</p>
            <p>邮箱：yw@womaihui.com</p>
        </div>
        <div class="follow">
            <img src="@Url.StaticFile("/assets/img/index/qrcode.png")" alt="扫一扫关注我们" />

        </div>
    </div>
    <div class="copyright">CopyR 2015 womaihui.com， Reserved 北京我买惠网络销售有限公司ICP备案99999999号-1</div>
</div>