@using GMS.Web;

<div class="container hui-header">
    <div class="row-fluid">
        <div class="span4 logo">
            <img src="@Url.StaticFile("/assets/img/index/logo.png")" alt="logo" />
        </div>
        <div class="span8 pull-right">
            <div class="row">
                <!-- JiaThis Button BEGIN -->
                <div class="span5">
                    <div id="ckepop">
                        <span class="jiathis_txt">分享到：</span>
                        <a class="jiathis_button_qzone">QQ空间</a>
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
                        <a class="jiathis_counter_style"></a>
                    </div>
                    <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
                </div>
                <!-- JiaThis Button END -->
                <!-- QQ交谈 -->
                <div class="span5">
                    <label>在线客服：</label>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=122736669&site=qq&menu=yes"><img border="0" src="@Url.StaticFile("/assets/img/index/qq.png")" alt="点击这里给我发消息" title="点击这里给我发消息" /></a>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=122736669&site=qq&menu=yes"><img border="0" src="@Url.StaticFile("/assets/img/index/qq.png")" alt="点击这里给我发消息" title="点击这里给我发消息" /></a>
                </div>
                <div class="span3 login-wrap">
                    <a href="#" class="login" >代理商登陆</a>
                </div>
            </div>
            <div class="row co"  >
                <label>公司旗下:</label>
                <ul class="nav-pills hui-flag">
                    <li><a href="#">我买惠返利网</a></li>
                    <li><a href="#">我买惠官网</a></li>
                    <li><a href="#">我买惠公益</a></li>
                    <li><a href="#">我买惠折扣商城</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>