.footer
	background-color #707070
	.foot-link
		background-color #e8e8e8
		link-height 40px
		.link-wrap
			width 490px
			height 40px
			margin 0 auto
			overflow hidden
			.nav-pills
				margin-top 10px
				width 550px
				li
					border-right 1px solid #000
				a
					color #000
					font-size 14px
	.addr-wrap
		position relative
		padding 25px
		width 844px
		height 150px
		margin 0 auto
		.addr
			color #fff
			p
				font-size 14px
				line-height 20px
				word-spacing 1.2px
				letter-spacing 1.2px
		.follow
			width 200px
			height 150px
			position absolute
			top 25px
			right 0
			background-color #fff
	.copyright
		text-align center
		color #fff
		background-color #000
		line-height 45px
		font-size 12px