.hui-header
	.span5 
		width 230px
	height 85px
	label
		display inline-block
		line-height 32px
		vertical-align top
	.row
		height 32px
	.jiathis_txt
		font-size 14px
		color #666
	.logo
		margin-top 12px
	.pull-right
		margin-top 18px
	.span2
		margin-right 10px
	.login-wrap
		text-align right
		padding-right 12px
	.login
		background url("/assets/img/index/login.png") 0% 50% no-repeat
		padding-left 25px
		color #a10701
		line-height 30px
		display inline-block
	#ckepop
		padding-top 5px
.hui-flag
	display inline-block
	li
		line-height 32px
	a
		color #006fc6
.co
	text-align right
	label
		vertical-align top
		line-height 32px
		display inline-block
		font-weight 900
.adv
	position fixed
	z-index 9
	.adv-inner
		position relative
		.close
			opacity 1
			position absolute
			z-index 10
			top 0
			right 0
.left-adv
	top 20px
	left 0px
.right-adv
	top 20px
	right 0px